$fondoNegro: black;
$celesteOscuro:rgb(90, 128, 209);
$celesteClaro:rgb(174, 213, 250) ;
$celesteMedio: rgb(82, 116, 139);   
$colorFooter:rgb(38, 41, 41);
$grisClaro:  rgb(135, 140, 143);
$blancoHumo: whitesmoke;
$detallesBordo:rgb(114, 46, 46);

